{% load socialaccount %}
<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    <h1>Waroeng</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    <p>Welcome, {{ user.extra_data.family_name }} !</p>
    <p><a href="{% url 'dashboard'%}">Go to dashboard!</a></p>

    <p><a href="{% url 'logout'%}">logout</a></p>

    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a> {% endif %}

</body>

</html>