{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>This is dashboard</h1>
    {% if user.is_authenticated %}
    <p><a href="{% url 'logout'%}">logout</a></p>
    {% else %}
    <a href="{% provider_login_url 'google'%}">Login with Google</a>
    <br> {% endif %} {% if user.is_authenticated %}

    <form action="{% url 'dashboard:addCart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="Macbook Pro" value="MacBook Pro">
        <input type="submit" value="Add me">
    </form>
    {% endif %}
</body>

</html>